services:
  video-to-podcast-service:
    build: .
    image: video-to-podcast-service
    ports:
      - "8080:8080"
    volumes:
      - "./config/:/home/appuser/app/config"
      - "./volume/resources/:/home/appuser/app/mount/resources"
      - "./volume/database/:/home/appuser/app/mount/database"
      - "./volume/cookies/:/home/appuser/app/mount/cookies"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://video-to-podcast-service:8080"]
      interval: 12s
      retries: 8
      start_period: 2s
      timeout: 12s
    environment:
      PORT: "8080"
